
.avatar-container {
  float: right;
  padding: 1em;
}

.avatar-image {
  height: 25%;
}

.suggestion-table {
  padding: 15px;
}

th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
