<h1>Here's the list of top favorited suggestions</h1>

<table>
  <tr>
    <th>Food</th>
    <th>Music</th>
  </tr>
  <% @pairings.each do |pair| %>
    <%food = pair[0]%>
    <%music = pair[1]%>
    <tr>
      <td>
        <%= image_tag food.image_url%>
        <%= link_to food.name, food.url%>
      </td>
      <td>
        <%= image_tag music.image_url%>
        <%= link_to music.name, music.url%>
      </td>
    </tr>
  <% end %>
<table>
